web/WEB-INF/wsdl/localhost_8080/WSD-project/bookingApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="bookingApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/WSD-project/bookingApp?xsd=1"/>
</xsd:schema>
</types>
<message name="updateBookings">
<part name="parameters" element="tns:updateBookings"/>
</message>
<message name="updateBookingsResponse">
<part name="parameters" element="tns:updateBookingsResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getFilePath">
<part name="parameters" element="tns:getFilePath"/>
</message>
<message name="getFilePathResponse">
<part name="parameters" element="tns:getFilePathResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getBookingsList">
<part name="parameters" element="tns:getBookingsList"/>
</message>
<message name="getBookingsListResponse">
<part name="parameters" element="tns:getBookingsListResponse"/>
</message>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="updateTutors">
<part name="parameters" element="tns:updateTutors"/>
</message>
<message name="updateTutorsResponse">
<part name="parameters" element="tns:updateTutorsResponse"/>
</message>
<message name="getTutors">
<part name="parameters" element="tns:getTutors"/>
</message>
<message name="getTutorsResponse">
<part name="parameters" element="tns:getTutorsResponse"/>
</message>
<message name="getTutor">
<part name="parameters" element="tns:getTutor"/>
</message>
<message name="getTutorResponse">
<part name="parameters" element="tns:getTutorResponse"/>
</message>
<message name="getTutorsList">
<part name="parameters" element="tns:getTutorsList"/>
</message>
<message name="getTutorsListResponse">
<part name="parameters" element="tns:getTutorsListResponse"/>
</message>
<message name="getStudentApp">
<part name="parameters" element="tns:getStudentApp"/>
</message>
<message name="getStudentAppResponse">
<part name="parameters" element="tns:getStudentAppResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="displayBookings">
<part name="parameters" element="tns:displayBookings"/>
</message>
<message name="displayBookingsResponse">
<part name="parameters" element="tns:displayBookingsResponse"/>
</message>
<message name="sLogin">
<part name="parameters" element="tns:sLogin"/>
</message>
<message name="sLoginResponse">
<part name="parameters" element="tns:sLoginResponse"/>
</message>
<message name="tLogin">
<part name="parameters" element="tns:tLogin"/>
</message>
<message name="tLoginResponse">
<part name="parameters" element="tns:tLoginResponse"/>
</message>
<message name="getTutorApp">
<part name="parameters" element="tns:getTutorApp"/>
</message>
<message name="getTutorAppResponse">
<part name="parameters" element="tns:getTutorAppResponse"/>
</message>
<portType name="BookingsSoap">
<operation name="updateBookings">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/updateBookingsRequest" message="tns:updateBookings"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/updateBookingsResponse" message="tns:updateBookingsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/updateBookings/Fault/Exception"/>
</operation>
<operation name="logout">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/helloRequest" message="tns:hello"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getFilePath">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getFilePathRequest" message="tns:getFilePath"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getFilePathResponse" message="tns:getFilePathResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getFilePath/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getFilePath/Fault/Exception"/>
</operation>
<operation name="getBookingsList">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getBookingsListRequest" message="tns:getBookingsList"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getBookingsListResponse" message="tns:getBookingsListResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getBookingsList/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getBookingsList/Fault/Exception"/>
</operation>
<operation name="getStudents">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentsResponse" message="tns:getStudentsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudents/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudents/Fault/Exception"/>
</operation>
<operation name="updateTutors">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/updateTutorsRequest" message="tns:updateTutors"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/updateTutorsResponse" message="tns:updateTutorsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/updateTutors/Fault/Exception"/>
</operation>
<operation name="getTutors">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsRequest" message="tns:getTutors"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsResponse" message="tns:getTutorsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutors/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutors/Fault/Exception"/>
</operation>
<operation name="getTutor">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorRequest" message="tns:getTutor"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorResponse" message="tns:getTutorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutor/Fault/Exception"/>
</operation>
<operation name="getTutorsList">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsListRequest" message="tns:getTutorsList"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsListResponse" message="tns:getTutorsListResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsList/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorsList/Fault/Exception"/>
</operation>
<operation name="getStudentApp">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentAppRequest" message="tns:getStudentApp"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentAppResponse" message="tns:getStudentAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getStudentApp/Fault/Exception"/>
</operation>
<operation name="displayBookings">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/displayBookingsRequest" message="tns:displayBookings"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/displayBookingsResponse" message="tns:displayBookingsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/displayBookings/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/displayBookings/Fault/Exception"/>
</operation>
<operation name="sLogin">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/sLoginRequest" message="tns:sLogin"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/sLoginResponse" message="tns:sLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/sLogin/Fault/Exception"/>
</operation>
<operation name="tLogin">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/tLoginRequest" message="tns:tLogin"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/tLoginResponse" message="tns:tLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/tLogin/Fault/Exception"/>
</operation>
<operation name="getTutorApp">
<input wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorAppRequest" message="tns:getTutorApp"/>
<output wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorAppResponse" message="tns:getTutorAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/BookingsSoap/getTutorApp/Fault/Exception"/>
</operation>
</portType>
<binding name="BookingsSoapPortBinding" type="tns:BookingsSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFilePath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getBookingsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateTutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutorsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStudentApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="displayBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="sLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutorApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="bookingApp">
<port name="BookingsSoapPort" binding="tns:BookingsSoapPortBinding">
<soap:address location="http://localhost:8080/WSD-project/bookingApp"/>
</port>
</service>
</definitions>